#page-container {
    width: 80ex;
    margin: 0 auto;
}

#content-container {
    width: 65ex;
}

body {
    font-family: 'Libre Franklin', serif;
}

h1, h2, h3, h4 {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 700;
}

nav {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: normal;
    font-size: 18pt;
    /* padding: 1em 0; */
}

#title h1 {
    font-size: 28pt;
    font-weight: 400;
}

#title h1 strong {
    font-weight: 700;
}

a {
    text-decoration: none;
    color: #888888;
    font-weight: normal;
}

a:hover {
    text-decoration: underline;
}

nav li.active a {
    color: #000000;
}

nav ul {
    padding: 0;
}

nav ul li {
    display: inline;
    padding-right: 1ex;
}
